<script>
NexT.utils.loadComments('#valine-comments', () => {
  NexT.utils.getScript('{{ theme.vendors.valine }}', () => {
    new Valine(Object.assign({
      el  : '#valine-comments',
      path: location.pathname,
      lang: (navigator.language || CONFIG.page.lang).toLowerCase()
    }, {{ theme.valine | safedump }}
    ));
  }, window.Valine);
});
</script>
